<div class="container overflow-hidden p-8 mx-auto">
  <h1 class="text-4xl text-red-600 px-4">Pokedex</h1>
  <hr/>
  <div class="flex flex-wrap -mx-4">
    <div *ngFor="let pokemon of pokemonList" class="w-1/3 mb-4 p-8">
      <div class="max-w-sm rounded overflow-hidden shadow-lg min-h-full flex flex-col justify-between">
        <img class="w-full" src="{{pokemon.art_url}}" alt="{{pokemon.name}}">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 flex items-center">
            <img src="../assets/icons/pokeball.svg" alt="pokeball" height="20px" width="20px" class="mr-2">
            #{{pokemon.pkdx_id}} {{pokemon.name}}
          </div>
          <p class="text-gray-700 text-base h-64">
            {{pokemon.description}}
          </p>
        </div>
        <div class="px-6 py-4">
          <label class="mr-2">Types:</label>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#{{pokemon.types[0]}}</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" *ngIf="pokemon.types.length > 1">#{{pokemon.types[1]}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
